// ==============================
// VARIABLES FOR ALL LAYOUT
// ==============================

// WIDTH of containers and wrappers for all layout sections
// $section-content-container: 1600px;
// $inner-centering-wrapper: 1170px;
// min-width: 320px;
// min-height: 480px;

// z-index base step
$zx: 10;

// COLORS for BG
$clr-slider-overlay: #360808;

// COLORS of text
$clr-text-light: #ffffff;
$clr-text-shiny: #fcff19;

// COLORS for BUTTONS
$clr-btn-border: #aba8a6;
$clr-btn-border-shiny: #fcff19;
$clr-btn-secondary: #000000;
$clr-btn-shiny: #fcff19;

// COLORS for svg lighting
$clr-svg-main: #515050;
$clr-svg-secondary: #000000;
$clr-svg-light: #ffffff;
$clr-svg-shiny: #fcff19;

// font-weight
$fw-t: 100;
$fw-l: 300;
$fw-r: 400;
$fw-b: 700;